.task-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 20px;
  box-shadow: 0 4.3px 2.2px rgba(0, 0, 0, 0.011),
    0 1.3px 5.3px rgb(0, 0, 0, 0.3);
}

.task-card h3 {
  margin-top: 0;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-card-buttons {
  display: flex;
}

.task-card-buttons a,
.task-card-buttons button {
  margin-right: 10px;

  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  margin-left: 20px;
  max-width: 50px;
  background-color: #4dabf7;
  color: #fff;
}
.edit-button:hover {
  background-color: #ffffff;
  color: #4dabf7;
}
.delete-button {
  max-width: 50px;
  background-color: #fa5252;
  color: #fff;
}

.delete-button:hover {
  background-color: white;
  color: #fa5252;
}

.update-button {
  transition: background-color 0.5s ease;
  background-color: white;
}

.update-button:hover {
  background-color: #20c997;
}

.cancel-button {
  transition: background-color 0.5s ease;
  background-color: white;
}

.cancel-button:hover {
  background-color: #fa5252;
}

.default-button {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4.3px 2.2px rgba(0, 0, 0, 0.011),
    0 1.3px 5.3px rgb(0, 0, 0, 0.3);
  transition: background-color 0.5s ease;
}
